.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    height: 100%;
    background-color: #5d4ebd;
}

figure{
    width: 150px;
    height: 150px;
}

img{
    width: 100%;
    object-fit: cover;
}

h2{
    color: #fbefff;
    font-size: 2.5em;
    margin: 5px 0;
}

p{
    color: #ecb0ff;
    font-size: 1.4em;
    margin: 10px 0;
}

button{
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 1.5em;
    border: none;
    background: #2a9b1d;
    color: #fbefff;
    font-weight: 700;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: #31b123;
}