:root{
    --white: #fbefff;
    --pink: #ecb0ff;
    --purple: #4f4abb;
    --lightpurple: #5d4ebd;
    --darkpurple: #40155a;
    --violet: #924b9d;
    --darkgreen: #2a9b1d;
    --lightgreen: #31b123;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #4f4abb, #683eaa, #783298, #822586, #871774);
}