*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #4f4abb, #683eaa, #783298, #822586, #871774);
}