h3{
    color: var(--white);
    text-align: center;
    margin: 20px;
    font-size: 2em;
}

.card{
    width: 80vw;
    background: var(--darkpurple);
    border-radius: 5px;
    padding: 21px;
    animation: show 250ms;
}

@media only screen and (max-width: 500px){
    .card{
        width: 100vw;
    }
}

@media only screen and (max-width: 400px){
    h3{
      margin: 0;  
    }
}

@keyframes show {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}