<div class="main" [ngSwitch]="gamestatus">

    <div class="container" *ngSwitchCase="0">
        <app-quizz-title
        class="quizz_title"
        *ngIf="quizz"
        [title]="quizz.title"
        (component)="destroyComponent('quizz_title')"
        ></app-quizz-title>

        <app-timer
        class="start_timer"
        [time]="5"
        [type]="'big'"
        (gamestart)="destroyComponent('start_timer'); startGame()"
        ></app-timer>
    </div>

    <div class="container" *ngSwitchCase="1">
        <app-timer
        *ngIf="showTimer"
        class="game_timer"
        [time]="10"
        [type]="'small'"
        (timeDone)="checkAnswer()"
        ></app-timer>
        <app-question-card [question]="currentQuestion?.question"></app-question-card>
        <div class="options_container">
            <app-answer-option
            *ngFor="let option of currentQuestion?.options"
            class="options"
            [option]="option"
            [time_up]="timeDone"
            (clickOnBtn)="selectBtn(); getAnswer($event)"
            #answer
            ></app-answer-option>
        </div>
        <button
        *ngIf="!timeDone"
        class="btn_enabled"
        [class.btn_disabled]="currenAnswer === null"
        (click)="currenAnswer !== null && checkAnswer()"
        #confirm
        >ANSWER</button>
    </div>

    <div class="container" *ngSwitchCase="2">
        <div class="results">
            <h2 class="percentage">{{calculatePercentage()}}<span>%</span></h2>
            <h3 class="results_answer">{{correctAnswers + "/" + totalQuestions + " correct answers"}}</h3>
            <p>{{showEndMessage()}}</p>
            <button [routerLink]="['/']">Go home</button>
        </div>
    </div>

    <div class="container error" *ngSwitchDefault>{{errorMessage}}</div>
</div>