<div class="container">
    
    <app-quizz-title
    class="quizz_title"
    *ngIf="quizz"
    [title]="quizz.title"
    (component)="destroyComponent('quizz_title')"
    ></app-quizz-title>

    <app-timer
    class="start_timer"
    [time]="5"
    [type]="'big'"
    (timeup)="destroyComponent('start_timer')"
    ></app-timer>

    <!-- <app-question-card></app-question-card>
    <div class="options_container">
        <app-answer-option *ngFor="let i of [1,2,3,4]" class="options"></app-answer-option>
    </div> -->

</div>
