h1{
    font-size: 4em;
    color: #fbefff;
}

h2{
    color: #ecb0ff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    max-height: 450px;
    width: 60%;
    min-width: 300px;
    border: 1px solid #e97aff21;
    border-radius: 5px;
    overflow-y: auto;
}

.quizz_info{
    width: 100%;
}