<div class="container">
    <h1>QuizzMe</h1>
    <h2>Test your knowledge! 🧠</h2>
    <div class="menu">
  
      <h3 *ngIf="message">{{message}}</h3>
  
      <app-quizz-card
      *ngFor="let quizz of quizzes"
      [quizz]="quizz"
      (sendId)="displayInfo($event)"
      [hidden]="(selected_quizz)"
      ></app-quizz-card>
  
      <div *ngIf="(selected_quizz)" class="quizz_info">
        <app-quizz-info
        [quizz]="selected_quizz"
        (cancel)="deselectQuizz()"
        ></app-quizz-info>
      </div>
      
    </div>
  </div>