h1{
    font-size: 4em;
    color: var(--white);
}

h2{
    color: var(--pink);
}

h3{
    margin: 10px;
    padding: 10px 15px;
    font-size: 2em;
    font-weight: 100;
    color: var(--white);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    max-height: 450px;
    width: 60%;
    min-width: 300px;
    border: 1px solid #e97aff21;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    /* Firefox scrollbar style support */
    scrollbar-width: thin;
    scrollbar-color: var(--darkpurple) var(--violet);
}

.menu::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: var(--violet);
}

.menu::-webkit-scrollbar-thumb {
    background: var(--darkpurple);
    border-radius: 2px;
}

.quizz_info{
    width: 100%;
}