figure{
    height: 150px;
    width: 150px;
}

figure img{
    width: 100%;
    object-fit: cover;
}

figcaption{
    margin-top: 10px;
    color: #fbefff;
    text-align: center;
    font-size: 1.4em;
}

.card{
    display: inline-block;
    margin: 10px;
    padding: 15px;
    background-color: #4f4abb;
    border-radius: 5px;
    transition: background 150ms;
}

.card:hover{
    cursor: pointer;
    background-color: #5d4ebd;
}

.appear{
    animation: appear 300ms;
}

@keyframes appear {
    from{
        opacity: 0.7;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}